 # Parameters for Adam:
# ==============================================================================
Adam.lr = 0.001

# Parameters for BatchBucketSampler:
# ==============================================================================
BatchBucketSampler.batch_size = 2
BatchBucketSampler.drop_last = True
BatchBucketSampler.shuffle = True
BatchBucketSampler.zero_pad_available = True

# Parameters for experiment:
# ==============================================================================
experiment.criterion = @PointNetClassificationLoss
experiment.data_loader = @PointsDataLoader
experiment.epochs = 1000
experiment.fp16_training = False
experiment.log_dir = 'lightning_logs_test_1'
experiment.metrics = \
    [@point_net_v2.precision,
     @point_net_v2.recall,
     @point_net_v2.accuracy,
     @point_net_v2.f1_score]
experiment.model = @PointNet
experiment.optimizer = @Adam
experiment.random_seed = 42
#experiment.accumulate_grad_batches = {30: 2, 60: 4}

# Parameters for PointNet:
# ==============================================================================
PointNet.top_layers = (256, 128)
PointNet.transform = @Transform()

# Parameters for PointNetClassificationLoss:
# ==============================================================================
PointNetClassificationLoss.alpha = 1e-5
PointNetClassificationLoss.fake_weight = 0.05
PointNetClassificationLoss.real_weight = 0.95

# Parameters for PointsDataLoader:
# ==============================================================================
PointsDataLoader.collate_fn = @points_collate_fn
PointsDataLoader.dataset = @PointsDatasetMemory
PointsDataLoader.drop_last = True
PointsDataLoader.n_train = 800
PointsDataLoader.n_valid = 100

# Parameters for PointsDatasetMemory:
# ==============================================================================
PointsDatasetMemory.input_dir = 'output/bmn7_points_edges_pos_1'
PointsDatasetMemory.pin_mem = True

# Parameters for feature_transform/TNet:
# ==============================================================================
feature_transform/TNet.conv_layers = (512, 256)
feature_transform/TNet.k = 64
feature_transform/TNet.linear_layers = (256, 128)
feature_transform/TNet.pooling = 'mean'

# Parameters for input_transform/TNet:
# ==============================================================================
input_transform/TNet.conv_layers = (64, 32)
input_transform/TNet.k = 5
input_transform/TNet.linear_layers = (32, 16)
input_transform/TNet.pooling = 'mean'

# Parameters for Transform:
# ==============================================================================
Transform.add_top_relu = True
Transform.feature_transform = @feature_transform/TNet()
Transform.input_features_dim = 5
Transform.input_transform = @input_transform/TNet()
Transform.pooling = 'mean'
Transform.top_layers = (256, 128)