### experiment setup ###
experiment.model = @TrackNetClassifier
experiment.criterion = @CrossEntropyLoss
experiment.metrics = [@ariadne.metrics.accuracy, @ariadne.metrics.f1_score]
experiment.optimizer = @Adam
experiment.data_loader = @EventWiseSplitDataLoader
experiment.epochs = 100
experiment.fp16_training = False
experiment.random_seed = 42


### model ###



### data ###
EventWiseSplitDataLoader.batch_size = 32
EventWiseSplitDataLoader.train_dataset = @train/TrackNetClassifierDataset
EventWiseSplitDataLoader.valid_dataset = @valid/TrackNetClassifierDataset
EventWiseSplitDataLoader.max_size = 100000

# dataset
TrackNetClassifierDataset.input_dir = 'output/cgem_t_tracknet_2_1'

train/TrackNetClassifierDataset.input_file = 'tracknet_classifier_train.npz'

valid/TrackNetClassifierDataset.input_file = 'tracknet_classifier_valid.npz'


### optimizer ###
Adam.lr = 0.001

# metrics
ariadne.metrics.accuracy.is_softmax = True
ariadne.metrics.f1_score.is_softmax = True