### experiment setup ###
experiment.model = @ariadne.tracknet_v2_1.model.Classifier
experiment.criterion = @CrossEntropyLoss
experiment.metrics = [@tracknet_v2_1.accuracy, @tracknet_v2_1.f1_score]
experiment.optimizer = @Adam
experiment.data_loader = @EventWiseSplitDataLoader
experiment.epochs = 100
experiment.fp16_training = False
experiment.random_seed = 42


### model ###



### data ###
EventWiseSplitDataLoader.batch_size = 32
EventWiseSplitDataLoader.train_dataset = @train/ClassifierDataset
EventWiseSplitDataLoader.valid_dataset = @valid/ClassifierDataset
EventWiseSplitDataLoader.max_size = 100000

# dataset
ClassifierDataset.input_dir = 'output/cgem_t_tracknet_2_1'

train/ClassifierDataset.input_file = 'tracknet_classifier_train.npz'

valid/ClassifierDataset.input_file = 'tracknet_classifier_valid.npz'


### optimizer ###
Adam.lr = 0.001