### experiment setup ###
experiment.model = @TrackNETv2
experiment.criterion = @TrackNetLoss
experiment.metrics = [@ellipse_area, @efficiency]
experiment.optimizer = @Adam
experiment.data_loader = @TrackNetV2DataLoader
experiment.epochs = 500
experiment.fp16_training = False
experiment.random_seed = 321
experiment.clip_grads = True
experiment.num_gpus = 1
#experiment.auto_lr_find = True
#experiment.resume_from_checkpoint = 'lightning_logs/TrackNETv2/version_46'

### model ###
TrackNETv2.input_features = 3
TrackNETv2.conv_features = 256
TrackNETv2.rnn_type = 'gru'
TrackNETv2.batch_first = True
TrackNETv2.use_causalconv=False
TrackNETv2.use_rnn=True

### data ###
TrackNetV2DataLoader.batch_size = 4096
TrackNetV2DataLoader.dataset = @ariadne.tracknet_v2.dataset.TrackNetV2DatasetWithMask
TrackNetV2DataLoader.max_size = None
TrackNetV2DataLoader.valid_size = 0.2
TrackNetV2DataLoader.collate_fn = @tracknetv2_collate_fn

# dataset
ariadne.tracknet_v2.dataset.TrackNetV2DatasetWithMask.data_path = '/zfs/store5.hydra.local/user/d/drusov/ariadne_spd/ariadne/output/spd_tracknet_normalized_unbalanced_1250/masked_tracknet_spd_all_stations.npy'

### loss ###
TrackNetLoss.alpha = 0.005

### optimizer ###
Adam.lr = 0.0001
